<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<meta http-equiv="Content-Type" 
content="text/html; 
charset=UTF-8;IE=edge"> 
</head>
<!--
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
-->

<app-navigation-menu></app-navigation-menu>
    
<router-outlet></router-outlet>

<!--div>
  <ul "ngFor = *let student of studentds let i = index">
<li> {{student._id}}: {{student.firstName}}: {{student.lastName}}
  <button mat-button color = "warn" (click) = "onDelete(student._id)"Click tp DELETE</button></li>
</li>
</ul>
</div -->

<div class="menupart">
<b><a href="home.html"> Home </a>  
  <a href="aboutus.html"> About Us </a>   
</b></div>

<div>
    <ul *ngFor ="let student of students let i = index">
      <li> {{student._id}}<br/> Student Name: {{student.firstName}} {{student.lastName}}<br/>
            Email: {{student.email}} <br/>Phone Number: {{student.phoneNumber}} <br/>
            Major: {{student.major}} <br/> Credit Earned: {{student.creditEarned}} <br/>
            Interest: {{student.interest}}<br/> Self Introduction: {{student.selfIntro}}
            (index {{i}})
            <button mat-button color="warn" (click)="onDelete(student._id)">Click to DELETE</button></li>
    </ul>
  </div>
<app-new-student-form></app-new-student-form>

</html>
      